---
layout: default
---

<div class="home">

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <div>
          <time class="post-date">{{ post.date | date: "%b %-d, %Y" }}</time>
        </div>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <p>
          {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
          <a class="more" href="{{ post.url | prepend: site.baseurl }}">more</a>
        </p>
        <ul class="post-tags">
          {% for tag in post.tags %}<li><a href="/tag/{{ tag }}">{{ tag }}</a></li>{% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
